{% extends "partials/page.html.twig" %}

{% block content %}
{{ page.content|raw }}

<div class="announcements">
  {% set cPage = uri.query('page') ? uri.query('page') : 1 %}
  {% set start = (cPage - 1) * 10 %}
  {% set end  = start + 10 %}
  {% set posts = page.find('/announcements').children.published() %}
  <div class='row'>

  {% for post in posts.order('publish_date', 'desc').slice(start, end) %}
  {% if post.visible %}
    <div class='col s12 l6'>
      <div class='card large grey lighten-4'>
        {% set image = post.media.images|first %}
        {% if image %}
          <div class='card-image'>
            {{image.html('','', 'responsive-img')|raw}}
            <span class='card-title'><a href="{{ post.url }}"><h5 class='white-text text-lighten-4'>{{ post.title }}</h5></a></span>
          </div>
        {% endif %}
        <div class='card-content'>
          {% if not image %}<span class='card-title'><a href="{{ post.url }}"><h5>{{ post.title }}</h5></a></span>{% endif %}
          {{ post.summary | regex_replace(["/<h1>/", "/<\\/h1>/", "/<h2>/", "/<\\/h2>/", "/<p>/", "/<\\/p>/"], " ") | striptags }} <a href="{{ post.url }}">(read more)</a>
        </div>
        <!--<div class='card-action'>
           Published: {{ post.publish_date|date("m/d/Y") }}
      </div>-->
    </div>
  </div>
    {% endif %}
  {% endfor %}

  </div>
  <div class='row'>
  <ul class='pagination'>
    {% if cPage > 1 %}
    <li class="waves-effect"><a href="?page={{cPage - 1}}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    <li><form action=''>
      <input type='number' name='page' min='1' max='{{(posts.count() / 10) + 1}}' value='{{cPage}}'/>
      <input type='submit' value='Go To Page' />
    </form></li>
    {% if cPage * 10 < posts.count() %}
    <li class="waves-effect"><a href="?page={{cPage + 1}}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
</div>
</div>
{% endblock %}
